Repository merenlab/anvio, pull requests merged in 2022-08, with the labels that each got.

#1965 Codon usage statistics
  anvio/codonusage.py
  anvio/constants.py
  anvio/dbops.py
  anvio/docs/programs/anvi-get-codon-frequencies.md
  anvio/docs/programs/anvi-get-codon-usage-bias.md
  anvio/genomedescriptions.py
  bin/anvi-get-codon-frequencies
  bin/anvi-get-codon-usage-bias
Labels: gene functions, codon usage

#1972 Eco phylo keep going
  anvio/tests/run_workflow_tests_for_ecophylo.sh
  anvio/tests/sandbox/data/input_files/hmm_list_external.txt
  anvio/tests/sandbox/workflows/ecophylo/no-samples-txt-config.json
  anvio/tests/sandbox/workflows/ecophylo/only-external-genomes-txt-config.json
  anvio/tests/sandbox/workflows/ecophylo/only-metagenomes-txt-config.json
  anvio/workflows/ecophylo/Snakefile
  anvio/workflows/ecophylo/__init__.py
  anvio/workflows/ecophylo/rules/profile_mode.smk
  anvio/workflows/ecophylo/rules/tree_mode.smk
  anvio/workflows/ecophylo/scripts/rename_external_gene_calls_file.py
  anvio/workflows/ecophylo/scripts/subset_external_gene_calls_file.py
Labels: feature

#1973 Split cov r v4
  sandbox/anvi-script-visualize-split-coverages
Labels: bug

#1975 Enable alternate genetic code for codon usage statistics
  anvio/codonusage.py
  anvio/constants.py
  bin/anvi-get-codon-frequencies
  bin/anvi-get-codon-usage-bias
Labels: codon usage
